@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

/* page structure */

body {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto;
    background-size: cover;
}

.page{
    width: 100%;
    max-width: 700px;
    margin: auto;
    margin-top: 15px;
}

/* text styles */

h1{
    font-family: 'Marcellus SC', serif;
    font-weight: 100;
    text-align: center;
    color: black;
    margin-top: 10px;
}

/* navigation styles */

nav {
background-color: rgb(47, 102, 144);
}

nav ul {
    text-align: right;
    list-style: none;
    padding: 0;
}

nav ul li {
    text-align: left;
}

nav ul li a{
    display: block;
    color: black;
    padding: 20px;
    text-decoration: none;
    transition: all 0.5s;
}

nav ul li a:hover {
    background-color: #254f70;
}