
body{
    background-image: url(..//Images/homepage.jpg);
}
.paragraph{
    margin-top: 60px;
    padding: 20px;
    background-color: #f9f7f37a;
    font-size: 25px;
}

.ending{
    padding: 20px;
    margin: 20px;
    margin-right: 200px;
    margin-left: 200px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    background-color: #f9f7f37a;
    list-style: none;
}








