@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

.background-log-in {
    padding: 0 13% 3% 13%;
    background-color:white;
    width: 100%; 
    height: 100%;
    border-radius:20px;
    position:relative;
    margin-top:20%;
}
main {
}
.user-input{
    display:grid;
    grid-template-columns: auto 1fr;
    background-color:rgb(236, 232, 150);
}
.user-input input{
    width: 100%;
    padding: 12px;
    font-size: 1em;
    background-color:transparent;
    border:none;
}
.user-input i{
    font-size: 2em;
    padding:8px;
}
.user-password i{
 font-size:2em;
 padding: 8px;
}
.user-password input{
    width: 100%;
    padding: 12px;
    font-size: 1em;
    background-color:transparent;
    border:none;
}
.user-password{
    display:grid;
    grid-template-columns: auto 1fr;
    background-color:rgb(236, 232, 150);
    margin-top: 5%;

}
h2 {
    font-family: 'Marcellus SC', serif;
    font-weight: 100;
    text-align: center;
    padding-bottom: 15px;
    color:blue;
}
h1{
    font-size:55px;
}
h2 a {
    color:blue;
}
.log-in-button{
    color:#15650E;
    font-family: 'Marcellus SC', serif;
    font-weight: 100;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#7DC09C;
    border-radius:5px;
    position:relative;
    margin-top:5%;
    width: 20%;
    margin-left: 38%;
}
.forgot-password{
    margin-left: 15%;
    margin-top: 5%;
    color: red;
    position:relative;
}
.forgot-password a {
    color:red;
}
hr {
    width: 100%;
    text-align: center;
    margin-top: 5%;
}